* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: roboto, sans-serif;
}

.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 48px;
}

.navbar {
  background-color: #0f172a;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    color: #22d3ee;
}

.nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav a:hover {
    color: #22d3ee;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

ul li {
    align-self: center;
}

.hero {
  background-color: #0f172a;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

h1 {
    color: #22d3ee;
    font-size: 48px;
}

.text h1 {
    line-height: 1.1;
    margin-bottom: 16px;
}

.hero-text p {
    color: white;
}

button {
    background-color: #3882f6;
    max-width: 80px;
    border-radius: 16px;
    border: #3882f6;
    font-weight: bold;
    color: white;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 220px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

div.container-03 {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.section-title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 600;
  color: #0f172a;
  margin-top: 16px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 425px;
}


.box-left,
.box-right {
    text-align: center;
    height: 200px;
    font-size: 24px;
    text-wrap: wrap;
    padding: 32px;
    border-radius: 16px;
    background-color: #f5f7fa;

    box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
}

.signup {
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-04 {
    display: flex;
    background-color: #3882f6;
    border-radius: 20px;
    height: 150px;
    flex-grow: 1;
    max-width: 950px;
    color: white;

    justify-content: space-evenly;
    align-items: center;
}

button.pulse {
    border: 2px solid white;
    max-width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    background-color: #1f2937;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
}

h1, h2, p {
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text p {
    line-height: 1.4;
    margin-bottom: 16px;
}