* {
    font-family: roboto;
}

.navbar .container-01 {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 150px;
    background-color: #0f172a;
}

.logo {
    align-self: center;
    font-weight: bolder;
    font-size: 48px;
    color: #22d3ee;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 20px;
}

.nav a:hover {
    color: #22d3ee;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

ul li {
    align-self: center;
}

.info .container-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid orangered;
    background-color: #0f172a;
    height: 450px;
}

section.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #22d3ee;
    line-height: 0;
    font-size: 48px;
}

.text p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    max-width: 80px;
    border-radius: 16px;
    border: #3882f6;
    font-weight: bold;
    color: white;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    height: 500px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 220px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

div.container-03 {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.section-title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 600;
  color: #0f172a;
  margin-top: 16px;
}

.quote {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 425px;
}


.box-left,
.box-right {
    text-align: center;
    box-shadow: 5px 5px 5px #22d3ee;
    border-radius: 20px;
    height: 200px;
    font-size: 24px;
    text-wrap: wrap;
}